<app-users-form (addUser)="optimisticAdd($event)" (addUserPs)= "pasemisticAdd()"></app-users-form>
<app-users-navigation></app-users-navigation>
<h2>List of Users</h2>

<ul class="list-group">
	<li class="list-group-item" *ngFor = "let key of usersKeys" >
	  <button type="button" class="btn btn-primary" (click)="deleteUser(key)">Delete</button>
	  <button class = "btn btn-warning"  ><a [routerLink] ="['/update-form/', key]" (click)="updateUser(key)">Update</a></button>
	  {{'Name:' + '  ' + users[key].name + ', phone:' + users[key].phone}}	  
	</li>
</ul>