<div class="center">
	<h1>Add User</h1>

	<form [formGroup] = "userForm" (ngSubmit) = "sendData()">
	  
	  <div>
	    <label for="name"><b>Name</b></label>
	    <input type="text" name = "name" id ="name" class = "form-control" formControlName = "name" required>
	    <div *ngIf="!userForm.controls.name.valid" class="errors">
	      Please add Name
	    </div>    
	  </div>
	    
	  <div>
		  <label for="phone"><b>Phone</b></label>
		  <input type="text" name="phone" id="phone" class = "form-control" formControlName = "phone" value="1000" required>
		  <div *ngIf="!userForm.controls.phone.valid" class="errors">
		      Please add Phone
		  </div>
	  </div>
	<input type="submit" value = "Send Invoice" class = "btn btn-primary" [disabled]="!userForm.valid">
	</form>  
</div>	